# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-yaml
    - id: check-added-large-files
    - id: check-symlinks

-   repo: https://github.com/PyCQA/docformatter
    rev: v1.5.0
    hooks:
    - id: docformatter

-   repo: https://github.com/rstcheck/rstcheck
    rev: 'v6.1.0'
    hooks:
    - id: rstcheck
      args: [
        "--report-level", "warning",
        "--ignore-roles", "class",
        "--ignore-directives", "autoclass,automodule",
      ]

-   repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
    - id: isort

-   repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
    - id: black

-   repo: https://github.com/PyCQA/flake8
    rev: 5.0.4
    hooks:
    - id: flake8

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.982
    hooks:
    -   id: mypy
        additional_dependencies: [types-all]
